<%- include("header") -%>

<link rel="stylesheet" href="../css/admin.css" type="text/css">
<title>Admin Sign In</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
</head>

<body>
<div class="head">
   <h1>Welcome Admin<h1>
</div>
<div class="common-container">
    <div class="container">
        <h1>Admin Sign In</h1>
        <form id="form" action="/signin" method="post">
                        <p class="signinMessage"></p>
                        <input class="inputBar" name="username"  placeholder="E-mail" autocomplete="off" type="text" required autofocus>
                        <input class="inputBar" name="password"  placeholder="Password"  autocomplete="off" type="password" required>
                        <br>
                        <button class="signBtn" name="btn" value="signup" type="submit">Sign in</button>
                    </div>
            </form>
    </div>
</div>




<%- include("footer") %> 
