<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../css/common.css" type="text/css">
    
    <div class="navbar">
            <form action="/" method="post">
                <button name="btn" value="" type="submit">Home</button>
                <button name="pbtn" value="profile" type="submit">Profile</button>
                <button  name="btn" value="signin" type="submit">Sign In</button>
                <button  name="btn" value="signup" type="submit">Register</button>           
            </form>
    </div>
