<%- include("header") -%>

<title>Car rental</title>
</head>

<body>

<h1>This is the main page</h1>
<form action="overview" method="get">
    <button type="submit">
        view
    </button>
</form>





<%- include("footer") %>