
<%- include("nav_bar") -%>


<style>
    body {
        background-image: url("../images/bg/bmw4.jpg");
        /* , url("../images/bg/kia.jpg"), url("../images/bg/elantra.jpg"); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
</style>
<title>Car rental</title>
</head>

<body>

<h1>This is the main page</h1>
<form action="overview" method="get">
    <button type="submit">
        view
    </button>
</form>





<%- include("footer") %>