<%- include("header") -%>

<link rel="stylesheet" href="../css/signup.css" type="text/css">
<title>Sign Up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
</head>

<body>
<div class="head">
   <h1>Welcome to the Car Rental Website<h1>
</div>
<div class="common-container">
    <div class="container signupPage">
        <h1>Sign Up</h1>
        <form id="form" action="/signup" method="post">
                        <p class="signinMessage"></p>
                        <input class="inputBar" name="fname"  placeholder="First name" autocomplete="off" type="text" required autofocus>
                        <input class="inputBar" name="lname"  placeholder="Last name" autocomplete="off" type="text" required>
                        <input class="inputBar" name="username" placeholder="E-mail"     autocomplete="off" type="text" required>
                        <input class="inputBar" name="password"  placeholder="password"   autocomplete="off" type="password" required>
                        <input class="inputBar" name="adress"  placeholder="Address" autocomplete="off" type="text" required>
                        <input class="inputBar" name="phone"  placeholder="Phone" autocomplete="off" type="text" required>
                        <br>
                        <button class="signBtn" name="btn" value="signup" type="submit">Sign up</button>
                    </div>
            </form>
            <p>Already have an account? <a id="log" href="signup">SignUp</a></p>
    </div>
</div>




<%- include("footer") %> 
