body {
  background-color: #202020;
  font-family: 'Roboto Slab', sans-serif;
}


.admin-sign-up-container {
  width: 30%;
  padding: 30px;
  margin: 40px auto;
  border-radius: 5px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e5eaf5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.head {
  color: red;
  margin-bottom: 50px;
}


.signBtn {
  width: 30%;
  border: none;
  color: rgb(165, 0, 0);
  padding: 10px;
  display: block;
  font-size: 1em;
  margin-top: 20px;
  margin-left: auto;
  font-weight: bold;
  margin-right: auto;
  text-align: center;
  border-radius: 6px;
  background-color: darkgrey;
}


button:hover {
  cursor: pointer;
  background-color:  #a28089;
}


h1 {
  color: rgb(177, 2, 2);
  text-align: center;
  padding-top: 15px;
}


form input {
  width: 70% !important;
  margin-bottom: 10px;
}
