body {
    background-color: #CBCACD;
    background-image: url(../images/bg/bg4.png);
}



.main-container {
    background-color: rgb(240, 240, 240);
    width: var(--WIDTH);
    margin: 5px auto;
    padding: 10px;
}


/* car cards */

.view-btn {
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    font-size: 20px;
}





.view-btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.main-footer {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    width: var(--WIDTH);
    height: 80px;
    margin: 0 auto 10px auto;
    background-color: black;
    color: white;
}


.vidoe-bg {
    height: 400px;
    margin: 0 auto;
    width: var(--WIDTH);
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.filters-container {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.block1 {
    grid-area: 1 / 1 / 2 / 3;
}

.block2 {
    grid-area: 2 / 1 / 3 / 3;
}

.block3 {
    grid-area: 3 / 1 / 4 / 3;
}

.block4 {
    grid-area: 4 / 1 / 5 / 3;
}

.block5 {
    grid-area: 5 / 1 / 6 / 3;
}

.block6 {
    grid-area: 1 / 3 / 2 / 5;
}

.block7 {
    grid-area: 2 / 3 / 3 / 5;
}

.block8 {
    grid-area: 3 / 3 / 6 / 5;
}

.block9 {
    grid-area: 5 / 5 / 6 / 6;
}


.filters-input-field {
    padding: 0;
    float: right;
    margin-right: 30px;
    width: 50% !important;
    font-size: 20px !important;
}

.filter-text {
    font-size: 20px;
    font-weight: 600;
}

.filters-input-field:focus {
    border-bottom: 4px solid #0FA564;
}

.filters_btn {
    border: none;
    color: white;
    font-size: 19px;
    background-color: black;
}

.collapsible-container {
    display: none;
}

.collapsible-menu label {
    padding: 5px;
    color: white;
    display: block;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    margin-bottom: 5px;
    width: fit-content;
    background-color: black;
    border: 2px solid black
}

input#menu {
    display: none;
}

input:checked+label {
    color: black;
    background-color: white;
    border: 2px solid black
}


input:checked~.collapsible-container {
    display: block;
}

.filter-message{
    margin: 0 auto;
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
}