<%- include("control") %>


    <h2>Add a new Office</h2>
    <hr />

    <form action="/add" method="post">
        <div class="add panel-back">
            <h4>Location</h4>
            <input type="text" class="input_field" name="location" required>
            <div class="orange-button">
                <button name="control_btn" value="add_office" type="submit"
                    class="btn btn-danger square-btn">Done</button>
            </div>
    </form>
    </div>