<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>Add a new Car</h2>
        </div>
    </div>

    <hr />
    <form action="/add" method="post">
        <div class="add-car panel-back">
            <h4>Name</h4>
            <input type="text" class="input_field" name="name">
            <h4>Email</h4>
            <input type="text" class="input_field" name="email">
            <h4>Password</h4>
            <input type="text" class="input_field" name="password">
            <h4>Address</h4>
            <input type="text" class="input_field" name="address">
            <h4>Phone</h4>
            <input type="text" class="input_field" name="phone">

            
            
            <div class="orange-button">
                <button name="control_btn" value="add_customer" type="submit" class="btn btn-danger square-btn">Done</button>
            </div>
    </form>
    </div>