<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>Add a new Customer</h2>
        </div>
    </div>

    <hr />
    <form action="/add" method="post">

        <div class="add panel-back">
            <h4>First name</h4>
            <input type="text" class="input_field" name="fname" required>
            <h4>Last name</h4>
            <input type="text" class="input_field" name="lname" required>
            <h4>Email</h4>
            <input type="text" class="input_field" name="email" required>
            <h4>Password</h4>
            <input type="text" class="input_field" name="password" required>
            <h4>Address</h4>
            <input type="text" class="input_field" name="address" required>
            <h4>Phone</h4>
            <input type="text" class="input_field" name="phone" required>

            <div class="orange-button">
                <button name="control_btn" value="add_customer" type="submit" class="btn btn-danger square-btn">Done</button>
            </div>
    </form>
    </div>