<%- include("control") %>

    <div class="row">
        <div class="col-md-12">
            <h2>Add a new Car</h2>
        </div>
    </div>

    <hr />
    <form id="form" action="/add" method="post" enctype="multipart/form-data">
        <div class="add panel-back">
            <h4>Company</h4>
            <input type="text" class="input_field" id="company" name="company" minlength="1" required>
            <h4>Color</h4>
            <input type="color" value="#0000" name="color" required>
            <h4>Status</h4>
            <select name="stat" class="input_field">
                <option value="Active">Active</option>
                <option value="Out of service">Out of service</option>
            </select>
            <h4>Office</h4>
            <select name="office" class="input_field">
                <% for(var i=0; i < offices.length; i++){ %>
                    <option value="<%= offices[i].office_id %>">
                        <%= offices[i].location %>
                    </option>
                    <% } %>
            </select>
            <h4>Model</h4>
            <input type="text" class="input_field" id="model" name="model" minlength="1" required>
            <h4>Year</h4>
            <input type="number" class="input_field" id="year" name="year" required min="1900">
            <h4>Miles</h4>
            <input type="number" class="input_field" id="miles" name="miles" required min="0">
            <h4>Price</h4>
            <input type="number" class="input_field" id="price" name="price" required min="0">
            <h4>licence No</h4>
            <input type="text" class="input_field" id="lic_no" name="lic_no" required>
            <h4>Image</h4>
            <input type="file" name="image" accept="image/*" required>


            <div class="orange-button">
                <button name="control_btn" value="add_car" type="submit" class="btn btn-danger square-btn">Done</button>
            </div>
    </form>
    </div>
    <script src="../../js/add_car.js" ></script>