<%- include("control_header") -%>

  <link rel="stylesheet" href="../css/admin.css" type="text/css">
  <title>Admin Sign In</title>

  </head>

  <body>
    <div class="head">
      <h1>Welcome Admin<h1>
    </div>
    <div class="admin-sign-in-container">
      <h1>Admin Sign In</h1>
      <form id="form" action="/control" method="post">
        <div class="failed"><%= error_msg %> </div>
        <input class="input_field <%= error_class %> " name="username" placeholder="E-mail" autocomplete="off" type="text" required
          autofocus>
        <br>
        <input class="input_field <%= error_class %>" name="password" placeholder="Password" autocomplete="off" type="password" required>
        <br>
        <button class="signBtn" name="signIn_btn" value="signin" type="submit">Sign in</button>
      </form>
    </div>
    </div>
  </body>