<%- include("control")  %> 








<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>ID</th>
                    <th>Car</th>
                    <th>Car ID</th>
                    <th>Res. date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>2</th>
                    <th>Amr</th>
                    <th>Mohsen</th>
                    <th>123456578915</th>
                    <th>Mercedes</th>
                    <th>015</th>
                    <th>13-1-2022</th>
                    <th>30-12-2022</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>Adel</th>
                    <th>yasser</th>
                    <th>123456578915</th>
                    <th>BMW</th>
                    <th>018</th>
                    <th>13-12-2022</th>
                    <th>30-12-2022</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<%- include("control_footer") %>