<%- include("control") %>
    <link rel="stylesheet" href="../css/admin.css" type="text/css">

    <div class="response-container">
        <div class="res-header failure"> Failure!</div>
        <hr style="width: 80%;">

        <h3>
            <%=message1 %>
        </h3>
        <h4>
            <%=message2 %>
        </h4>
        <h4>
            <%=message3 %>
        </h4>
        <hr style="width: 50%;">

        <a class="res-btn" href="admin" name="back">Back to dashboard</a>
        <a class="res-btn" onclick="window.history.go(-1); return false;" style="margin-left: 20px;">Try again</a>

    </div>
    </div>

    </div>