<%- include("control") %>
    <link rel="stylesheet" href="../css/admin.css" type="text/css">

    <div class="response-container">
        <div class="res-header success"> Success!</div>

        <hr style="width: 80%;">

        <h4 style="color:  #202020 !important;">
            <%=message1 %>
        </h4>
        <h4 style="color:  #202020 !important;">
            <%=message2 %>
        </h4>
        <h4 style="color:  #202020 !important;">
            <%=message3 %>
        </h4>
        <hr style="width: 50%;">

        <a class="res-btn" href="admin" name="back">Back to dashboard</a>
    </div>
    </div>
    </div>