<%- include("../header") -%>

    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/car_overview.css" type="text/css">
    <title>overview</title>
    </head>

    <body>

        <div class="container">
            <form action="main" method="get">
            <button class="back-button" name="back_btn" value="back">Back</button></form>
            <div class="sub-container">
                <div class="left-block">this is the image</div>
                <div class="right-block">
                    <h2>BMW x7 2022</h2>
                    <hr>
                    <ul>
                        <li>Company:
                        <li>Model:
                        <li>Year:
                        <li>Color:
                        <li>Miles:
                    </ul>
                    <h3>Price/day: 100$</h3>
                    <form action="reserve" method="get">
                    <button class="reserve-button" name="reserve_btn" value="reserve">Reserve</button></form>
                </div>
            </div>
        </div>



    </body>